<div class="row">
    <div class="col-md-8">
        <h3>Posts {{ count$ | async}}</h3>
        <a class="btn btn-primary mb-2" [routerLink]="['/posts/add']">Add Post</a>

        <table class="table table-bordered table-striped" *ngIf="posts$ | async as postsData">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let post of postsData">
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>
                        <a [routerLink]="['details',post.id]" class="btn btn-info">Detail</a>&nbsp;
                        <a [routerLink]="['edit',post.id]" class="btn btn-primary">Update</a>&nbsp;
                        <a (click)="onDeletePost(post.id)" class="btn btn-warning">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>